<ion-view view-title="">
  <ion-content>

    <div class="clout-header">
      <img class='mainLogo' src='img/cloutMainLogo.png' />
    </div>



        <h3 class="active-name" ng-show="inExercise" style="text-align: center;color: white; border: none; background-color: transparent; "><p class="exercise-name" style="border: none;">{{workoutData.name}}</p>Current Exercise: {{ exerciseName }}</h3>
        <div class="stopwatch" style="color: white; border: none;"></div>
        <div class="col text-center work" ng-show="inExercise" style="margin: auto; background: none; border: none;">
          <button class="{{ buttonColor }}" ng-click="startStop()" style="border: none;">{{ button }}</button>
          <button class="btn btn-info restart" ng-click="restart()" style="border: none;">RESTART</button>
        </div>
        <h3 class="active-name" ng-show="inBreak" style="border: none; text-align: center; color: white; background-color: transparent;">Take a Break!</h3>
        <div class="breakwatch" style="border: none;"></div>
        <div class="col text-center break" ng-show="inBreak" style="border: none; background-color: transparent;">
          <button class="{{ buttonColor }}" ng-click="startStopBreak()" style="border: none;">{{ button }}</button>
          <button class="btn btn-info restart" ng-click="restartBreak()" style="border: none;">Restart</button>
        </div>

        <h1 class="col text-center" ng-show="inReps" style="border: none;">Current Exercise: {{ exerciseName }}</h1>
        <h2 class="col text-center" ng-show="inReps" style="border: none;">{{ repsCounter }} Reps X {{ setsCounter }} Sets<br><br>
          <button class="{{ repButtonColor }}" ng-click="nextWorkout()" style="border: none;">{{ repButton }}</button>



      <div class="item item-body" style="background-color: transparent; border: none;">
        <p>
          <img class="full-image" src="img/sampleworkout.jpg">
        </p>


      </div>



    <!--</div>-->



  </ion-content>
</ion-view>
