<ion-view view-title="">
  <ion-content style="background-color: #2f2f2f">

    <div class="clout-header">
      <img class='mainLogo' src='img/cloutMainLogo.png' />
    </div>

    <!--<div>
        Exercise in Progress:
        {{workout.name}}
    </div>-->

    <div class="card" style="background-color: transparent;">
      <div class="item item-text-wrap" style="background-color: rgba(0,0,0,.4); border: none; border-radius: 5px; color: white; text-align: center; border: none;">
        {{workoutData.name}}
        <div ng-repeat="exercise in workout.exercises"></div>

      </div>




      </div>
    </div>

    <div class="list card" style="background-color: transparent; border: none;">

      <div>

        <h2 class="timer"></h2>

        <h1 class="col text-center" ng-show="inExercise">Current Exercise: {{ exerciseName }}</h1>
        <div class="stopwatch" style="color: white;"></div>
        <div class="col text-center work" ng-show="inExercise">
          <button class="{{ buttonColor }}" ng-click="startStop()">{{ button }}</button>
          <button class="btn btn-info restart" ng-click="restart()">RESTART</button>
        </div>
        <h1 class="col text-center" ng-show="inBreak">Take a Break!</h1>
        <div class="breakwatch"></div>
        <div class="col text-center break" ng-show="inBreak">
          <button class="{{ buttonColor }}" ng-click="startStopBreak()">{{ button }}</button>
          <button class="btn btn-info restart" ng-click="restartBreak()">Restart</button>
        </div>

        <h1 class="col text-center" ng-show="inReps">Current Exercise: {{ exerciseName }}</h1>
        <h2 class="col text-center" ng-show="inReps">{{ repsCounter }} Reps X {{ setsCounter }} Sets<br><br>
          <button class="{{ repButtonColor }}" ng-click="nextWorkout()">{{ repButton }}</button>

      </div>

      <div class="item item-body" style="background-color: transparent;">
        <img class="">
        <p>
          <img class="full-image" src="img/sampleworkout.jpg">
        </p>


      </div>



    </div>



  </ion-content>
</ion-view>
