<ion-view view-title="Login" name="login-view">
    <ion-content class="padding">
        <div ng-show="login" class="list list-inset" style='background-color:transparent; color: white;'>
            <label style='background-color:rgba(0,0,0,.4); color: white; margin-bottom: 10px; border-radius: 5px;' class="item item-input">
                <input ng-model="loginAttempt.username" type="text" placeholder="Username" style='color: white;'>
            </label>
            <label style='background-color:rgba(0,0,0,.4); color: white; border-radius: 5px;' class="item item-input">
                <input ng-model="loginAttempt.password" type="password" placeholder="Password">
            </label>
        </div>
        <div ng-hide="login" class="list list-inset">
            <label class="item item-input">
                <input ng-model="regAttempt.email" type="text" placeholder="Email" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input ng-model="regAttempt.username" type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input ng-model="regAttempt.password" type="password" placeholder="Password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Retype Password">
            </label>
        </div>
        <button ng-show="login" class="button button-block button-calm" ng-click="authenticate(loginAttempt)">Login</button>
        <div ng-show="login">No account? <a href="" ng-click="setLoginTrueFalse()">Register.</a></div>
        <div ng-show="login"><a href="">Forgot password?</a></div>
        <div ng-show="login"><a href="">Continue as unregistered user.</a></div>
        
        
        <button ng-hide="login" class="button button-block button-calm" ng-click="register(regAttempt)">Register</button>
        <div ng-hide="login" ng-click="setLoginTrueFalse()"><a href="">Login</a></div>
    </ion-content>
</ion-view>