<ion-view hide-nav-bar="true" view-title="Login" name="login-view">
    <ion-content style='background-image: url(../img/blurredRunners.png);
    background-size: cover;
'class="padding">


  <div class="clout-header-two">
    <img class='mainLogo' src='../img/cloutMainLogo.png' />
  </div>
  
        <div ng-show="login" class="list list-inset">
            <label class="item item-input">
                <input ng-model="loginAttempt.username" type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input ng-model="loginAttempt.password" type="password" placeholder="Password">
            </label>
        </div>
        <div ng-hide="login" class="list list-inset">
            <label class="item item-input">
                <input ng-model="regAttempt.email" type="text" placeholder="Email" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input ng-model="regAttempt.username" type="text" placeholder="Username">
            </label>
            <label class="item item-input">
                <input ng-model="regAttempt.password" type="password" placeholder="Password">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Retype Password">
            </label>
        </div>
        <button ng-show="login" class="button button-block button-calm" style='background-color: #2ECC71; color: white;' ng-click="authenticate(loginAttempt)">Login</button>
        <div ng-show="login">No account? <a href="" ng-click="setLoginTrueFalse()"  style='color: #2ECC71'>Register.</a></div>
        <div ng-show="login"><a href=""  style='color: #2ECC71'>Forgot password?</a></div>
        <div ng-show="login"><a href=""  style='color: #2ECC71'>Continue as unregistered user.</a></div>
        
        
        <button ng-hide="login" class="button button-block button-calm" ng-click="register(regAttempt)">Register</button>
        <div ng-hide="login" ng-click="setLoginTrueFalse()"><a href="">Login</a></div>
    </ion-content>
</ion-view>