<ion-view hide-nav-bar="true" view-title="">

    <ion-content class="padding">


        <div class="clout-header">
            <img class='mainLogo' src='../img/cloutMainLogo.png' />
        </div>


        <div class='masterContainer'>


            <h1 class="workout-header">WORKOUT CREATION</h1>


            <div class="list">
                <label class="item item-input item-floating-label" style='border: none;'>
                    <span class="input-label">Workout Name</span>
                    <input type="text" placeholder="Workout Name" ng-model="workout.name" style='color: white; border-bottom: 1px solid white;'>
                </label>
            </div>


            <div class="list">

                <label class="item item-input item-select" style='background-color:rgba(0,0,0,0);'>
                    <div class="input-label" style='color: white;'>
                        Workout Type
                    </div>
                    <select ng-model="workout.type" ng-change="workoutType()" style='background-color:rgba(0,0,0,0); color: white;'>
                        <option value="repetition">Repetition</option>
                        <option value="interval">Interval</option>

                    </select>
                </label>
            </div>

            <div class="list">

                <div ng-show="interval">


                    <input class="exerName" type="text" placeholder="Name" ng-model="newExercise.name" style='background-color:rgba(0,0,0,0); border-bottom: 1px solid white; color: white;'>
                    <div class="min-sec-container">
                        <input class="exerMins" type="text" placeholder="Mins" ng-model="newExercise.mins" maxlength="2" style='background-color:rgba(0,0,0,0); border-bottom: 1px solid white; color: white;'>
                        <input class="exerSecs" type="text" placeholder="Secs" ng-model="newExercise.secs" maxlength="2" style='background-color:rgba(0,0,0,0); border-bottom: 1px solid white; color: white;'>
                    </div>

                </div>
                <button class="button button-block " style='background-color:#2ECC71; color: white;  color: white;' ng-click="addNewExercise()"
                ng-show="interval">
                    Submit
                </button>


                <div class="row responsive-sm">
                    <div class="col" ng-repeat="exercise in exercises track by $index" ng-show="interval" style='background-color:rgba(0,0,0,0); color: white; border: none; text-align: left;'>

                        <button class="ion-close" ng-click="deleteExercise(exercises, $index)">

                        </button>

                        {{ exercise.name }} - {{ exercise.mins }}:{{ exercise.secs }}


                    </div>
                </div>

            </div>

            <div ng-show="repetition">


                <input class="exerName" type="text" placeholder="Name" ng-model="newExercise.name" style='background-color:rgba(0,0,0,0); border-bottom: 1px solid white; color: white;'>
                <div class="rep-set-container">
                    <input class="exerMins" type="text" placeholder="Reps" ng-model="newExercise.reps" maxlength="2" style='background-color:rgba(0,0,0,0); border-bottom: 1px solid white; color: white;'>
                    <input class="exerSecs" type="text" placeholder="Sets" ng-model="newExercise.sets" maxlength="2" style='background-color:rgba(0,0,0,0); border-bottom: 1px solid white; color: white;'>
                </div>

            </div>
            <button class="button button-block " style='background-color:#2ECC71; color: white; ' ng-click="addNewExercise()" ng-show="repetition">
                Submit
            </button>


            <div class="row responsive-sm">
                <div class="col" ng-repeat="exercise in exercises track by $index" ng-show="repetition" style='background-color:rgba(0,0,0,0); color: white; border: none; text-align: left;'>

                    <button class="ion-close" ng-click="deleteExercise(exercises, $index)">

                    </button>

                    {{ exercise.name }} - {{ exercise.reps }} Reps x {{ exercise.sets }} Sets


                </div>
            </div>


            <div class="list">

                <div class="item item-input-inset" style='background-color: transparent; border: none; color: white;'>
                    <label class="item-input-wrapper" style='background-color:rgba(0,0,0,0); color: white; border-bottom: 1px solid white; border-radius: 0px;'>
                        <input type="text" placeholder="Add Equipment" ng-model="newEquipment.text" style='color: white;'>
                    </label>
                    <button class="button button-small" ng-click="addNewEquipment()">
                        Submit
                    </button>
                </div>

            </div>

            <div class="row responsive-sm">
                <div class="col" ng-repeat="equipment in equipments track by $index" style='background-color:rgba(0,0,0,0); color: white; border: none; text-align: left;'>

                    <button class="ion-close" ng-click="deleteEquipment(equipments, $index)">

                    </button>

                    {{ equipment }}


                </div>
            </div>


            <label class="item item-input item-select" style='background-color:rgba(0,0,0,0); color: white;'>
                <div class="input-label" style='color: white;'>
                    Level
                </div>
                <select style='background-color:rgba(0,0,0,0); color: white;' ng-model="workout.level">
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>


                </select>
            </label>


            <br>


            <p class="time-selector">Please enter estimated workout time</p>

            <div class="time-container">

                <div class="item item-input-inset time-holder" style='background-color:rgba(0,0,0,0); color: white;'>
                    <label class="item-input-wrapper mins-holder" style='background-color:rgba(0,0,0,0);'>
                        <input type="text" placeholder="Hours" maxlength="2" ng-model="workout.hrs" style='color: white; text-align: center;'>
                    </label>
                    &nbsp :
                </div>


                <div class="item item-input-inset time-holder" style='background-color:rgba(0,0,0,0); color: white;'>
                    <label class="item-input-wrapper mins-holder" style='background-color:rgba(0,0,0,0);'>
                        <input type="text" placeholder="Mins" maxlength="2" ng-model="workout.mins" style='color: white; text-align: left;'>
                    </label>
                </div>
            </div>


            <br>

            <div class="list">
                <label class="item item-input item-floating-label" style='border: none;'>
                    <span class="input-label">Workout Description</span>
                    <input type="text" placeholder="Workout Description" class="workout_descript" ng-model="workout.description" style='color: white; border-bottom: 1px solid white;'>
                </label>
            </div>

            <div class="list">


                <button class="button button-block button-energized" style='background-color: #2ECC71; color: white;' ng-click="postNewWorkout()">
                    Create Workout
                </button>


            </div>
        </div>



    </ion-content>

</ion-view>
