<ion-view view-title="">

  <ion-content class="padding">

<div class="clout-header">
  <h1 class="clout-name">clout.</h1>
</div>

    <h1 class="workout-header">WORKOUT CREATION</h1>

  <hr/>

  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Workout Name</span>
      <input type="text" placeholder="Workout Name">
    </label>
  </div>

  <div class="list">



    <!-- <ion-list>
  <p>Workout Type</p>
  <ion-checkbox ng-model="filter.blue">Reps</ion-checkbox>
  <ion-checkbox ng-model="filter.yellow">Interval</ion-checkbox>


</ion-list> -->

  <label class="item item-input item-select">
    <div class="input-label">
      Workout Type
    </div>
    <select>
      <option>Reps</option>
      <option selected>Interval</option>

    </select>
  </label>

</div>

<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Add Exercise">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>

</div>

<!-- <div class="row responsive-sm">
  <div class="col">Bench Press</div>
  <div class="col">Bicep Curl</div>
  <div class="col">Hammer Curl</div>
  <div class="col">Skull Crushers</div>
</div> -->

<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Equipment Required">
    </label>
    <button class="button button-small">
      Submit
    </button>
  </div>

</div>


<label class="item item-input item-select">
  <div class="input-label">
    Level
  </div>
  <select>
    <option selected>Beginner</option>
    <option>Intermediate</option>
    <option>Advanced</option>

  </select>
</label>


<br>
<hr/>

<div class="item item-input-inset">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Estimated Time">
  </label>
  <button class="button button-small">
    Submit
  </button>
</div>

<br>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Workout Description</span>
    <input type="text" placeholder="Workout Description">
  </label>
</div>

<div class="list">

  <button class="button button-block button-energized">
    Create Workout
  </button>
      <!-- <button class="button button-energized">Endurance</button><br>
      <button class="button button-energized ex-list">Strength</button><br>
      <button class="button button-energized ex-list">Balance</button><br>
      <button class="button button-energized ex-list">Flexibility</button> -->

    <!--<div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
