<ion-view hide-nav-bar="true"  view-title="Account">
 
  <ion-content>
<div class='profileMasterContainer'>
    
    <div class='usernameHeader'>John Doe</div>
    
    <div class="row">
  <div class="col"><div class='number'>25</div><br/>Workouts Created</div>
  <div class="col"><div class='number'>13</div><br/>Workouts Completed</div>
</div>
    
    
  
      <div class="item item-divider" style='background-color: rgba(0,0,0,.4); color: white; width: 90%; border: none; margin: 0 auto; border-radius: 5px; font-family: Helvetica Neue, sans-serif; font-weight: 600; font-size: 20px;'>
        Goals
      </div>


    <div class='goalTodo' ng-controller='accountCtrl'>

    <form class='goalForm' name='frm' ng-submit='addTodo()'>
        <input style='color: white; padding-left: 10px;' class='addGoalField' type="text" name='newtodo' placeholder="New Goal" ng-model='newTodo' required />
       <div class='addGoalBtnContainer'><button class='addGoalBtn' ng-disabled='frm.$invalid'>Add</button></div> 
        
        </form>
        
        
        <ul class='goalList'>
        
        <li class='createdGoals' ng-repeat='todo in todos'>
 
            
            
            <label ng-class="{'done':todo.done}">  <input ng-hide='true' id='checkBox' type="checkbox" ng-model='todo.done' />{{todo.title}}</label>
            
            
            
            
            
            
            
            
            
            </li>
        
        </ul>
       <div class='clearGoalBtnContainer'><button class='clearGoalBtn' ng-click='clearCompleted()'>Clear Completed</button></div> 

      </div>

</div>
    


  </ion-content>
</ion-view>
