<ion-view view-title="Workout Selection">
    <ion-content>
        <div class="container">
            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input ng-model="searchName" type="search" placeholder="Search">
                </label>
                <button class="button button-clear">
                    Cancel
                </button>
            </div>

            <button>Begin Workout!</button>
            <!--<button class="button button-icon icon ion-navicon-round" ng-touch="show()">
            </button>-->
            <!--<div ng-repeat="workout in workouts | filter:{name:searchName}">
                <div class="workout">
                    <p class="float">{{workout.name}}</p>
                    <p class="float margin">{{workout.length}} minutes</p>
                    <p>Type: {{workout.type}}</p>
                    <p>Description: {{workout.description}}</p>
                </div>
                <hr>
            </div>-->
            <button ng-show="endOfResults" class="button button-full button-assertive">
                No more workouts!
            </button>
            <ion-list>
                <ion-item ng-repeat="workout in workouts | filter:{name:searchName}">
                    <p class="float">{{workout.name}}</p>
                    <p class="float margin">{{workout.length}} minutes</p>
                    <p>Type: {{workout.type}}</p>
                    <p>Description: {{workout.description}}</p>
                </ion-item>
                <!--<ion-infinite-scroll on-infinite="getWorkouts()" distance="1%"></ion-infinite-scroll> -->
                <button ng-show="showBackButton" class="button button-positive" style="margin:auto 0" ng-click="getPreviousWorkouts()">Back</button>
                <button ng-show="!endOfResults" class="button button-positive" style="margin:auto 0" ng-click="getMoreWorkouts()">Next Page</button>
            </ion-list>
            <a sref="tab.workout-creation">Create New Workout!</a>
    </ion-content>
</ion-view>
