 <ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-light" >


  <ion-tab title="Create" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus-outline" href="#/tab/workout-creation">
    <ion-nav-view name="tab-workout-creation"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Workouts" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/workout-selection">
    <ion-nav-view name="tab-workout-selection"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>



</ion-tabs>
