<ion-view>
	<ion-content>
			<h1 class="col text-center" ng-show="inExercise">Current Exercise: {{ exerciseName }}</h1>
			<div class="stopwatch"></div>
			<div class="col text-center work" ng-show="inExercise">
				<button class="{{ buttonColor }}" ng-click="startStop()">{{ button }}</button>
				<button class="btn btn-info restart" ng-click="restart()">RESTART</button>
			</div>
			<h1 class="col text-center" ng-show="inBreak">Take a Break!</h1>
			<div class="breakwatch"></div>
			<div class="col text-center break" ng-show="inBreak">
				<button class="{{ buttonColor }}" ng-click="startStopBreak()">{{ button }}</button>
				<button class="btn btn-info restart" ng-click="restartBreak()">Restart</button>
			</div>
	</ion-content>
</ion-view>