<ion-view view-title="">
    <a href='/#/tab/workout-selection' class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
    
    <ion-content>
        <a href='/#/tab/workout-selection' class="button icon-left ion-chevron-left button-clear button-dark">Back</a>

        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>

        <div class="view-workout-container" style='background: white; width: 90%; margin: 10px auto; padding: 20px; border: 2px solid lightgray; border-radius: 5px;'>
            <div class='viewBG'>
                <div>
                    <h4 class="">{{workout.name}}</h4>
                </div>
                <div>
                    Estimated Time: {{workout.time.hrs}} hours {{workout.time.mins}} mins
                </div>

                <div><b>Type: </b>{{workout.type}}<br/> <b>Description:</b>
                    <br> {{workout.description}}</div>
                <div class="equipment-list float">
                    <div>
                        <b>Equipment Used</b>
                    </div>
                    <div ng-show="noEquipment">
                        None
                    </div>
                    <div ng-repeat="equipment in workout.equipment">
                        {{equipment}}
                    </div>
                </div>
                <div class="exercise-list">
                    <div>
                        <b>Exercises</b>
                    </div>
                    <div ng-repeat="exercise in workout.exercises">
                        {{exercise.name}}
                    </div>
                </div>
            </div>


        </div>
        <div class="run-workout-container">



        <button class="button button-full button-energized run-workout" style='background-color: #00ff12;' ng-click="workoutStart(workout._id)">Run Workout</button>


        
    </ion-content>
</ion-view>