<ion-view hide-nav-bar="true" view-title="Workout Selection">
    <ion-content class='selectionBG'>
		<h2 style="color: white; text-align: center;" color="white">{{ user.username }}'s<br>Favorite Workouts</h2>
        <ion-item ng-repeat="favorite in favorites | filter:{name:searchName}" style='background-color: rgba(0,0,0,.4); border: none; border-radius: 5px; margin-bottom: 5px;'>

                    <p style='color: white;' class="workOutName">{{favorite.name}}</p>
                    <p style='color: white;' class="workOutTime">{{favorite.time.mins}} minutes</p>
                    <p style='color: white;'>Type: {{favorite.workoutType}}</p>
                    <p style='color: white;'>Description: {{favorite.description}}</p>
					<button ng-click="removeFavorite(user.id, favorite._id, $index)" class="btn btn-danger" style='margin: 5px; float: right;'>
                        Remove
                    </button>
                    <button ng-click="viewWorkout(favorite._id)" class="button button-small button-assertive" style='margin: 5px; background-color: #2ECC71;  float: right;'>
                        View
                    </button>
                    <button ng-click="quickStart(favorite._id)" class="button button-small button-assertive" style='margin:5px; background-color: #2ECC71;  float: right;'>
                        Quick Start
                    </button>
        </ion-item>
    </ion-content>
</ion-view>
