<ion-view view-title="">

  <ion-content>

    <div class="clout-header">
         <img class='mainLogo' src='../img/cloutMainLogo.png' />
    </div>


<div class="list card">

  <div class="item item-avatar">
    
    <h2>Completed Workout!</h2>
    <p>Finger pushups</p>
  </div>

  <div class="item item-image">

  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-ios-pulse-strong"></i>
    Workout Overview
  </a>

</div>




<div class="list card">


  <a href="#" class="item item-icon-left">
    <i class="icon ion-share"></i>
    Share your progress
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-clipboard"></i>
    Start new workout
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-person"></i>
    Account
  </a>

</div>

  </ion-content>

</ion-view>
