/* Empty. Add your own CSS if you like */
body, html {
  width: 100%;
  height: 100%;    
}
.ex-list {
  margin-top: 10px;  
}
.container {
    margin: 15px;
}
.workout {
    /*outline: 1px solid red;*/
    margin-top: 10px;
    border-radius: 10px;
}
.float {
    float: left;
}
.margin {
    margin-left: 10px;
    margin-right: 10px;
}
.clear {
    clear: both;
}